.weatherout{
    display:flex;
    flex-flow: row wrap;
}
.citydiv{

    color:rgba(232, 243, 255, 0.884);
    margin-left: 80px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left:40px;
    height: 340px;
    width: 300px;
    border-radius: 10px;
    border-width: 3px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    flex: 0 1 calc(33.333% - 20px); /* Subtract the gap from the width */
    margin-bottom: 30px; /* Optional: Adds space between rows of cards */
    min-width: 500px;
    box-shadow: 10px 10px 10px rgb(17, 18, 16);
}
.citydiv:hover{
    transform: scale(1.1);
    backdrop-filter:blur(3px);
    filter:drop-shadow(1px 1px);
    transition:0.4s;
}
.til:hover{
    font-size:29px;
    color:black;
    text-shadow:2px 2px 4px rgba(255, 255, 255, 0.694);
}
.sc{
    font-size:24px;
}
.ssc{
    font-size:22px;
}
.titl{
    color:rgba(255, 255, 255, 0.694);
    text-shadow: 2px 2px 4px black;
    font-size: 2em;
}
.p1{
    font-size: 20px;
    padding-left: 50px;
}
.Titl{
  font-size: 2em;  
}