ul{
    display: flex;
    margin-right: 150px;
    justify-content: center;
    padding: 20px;
    margin: 0;
    color: black;
}
.l{
    text-decoration: none;
    color: rgb(243, 223, 223);
}
li{
    color: black;
    display: flex;
    padding-right:50px ;
    padding-top: 10px;
   
}

.div{
    text-align: left;
}

